.jumbotron {
  margin: 0;
  padding: 30px;
  color: white;
  background-color: #87A0AC; }

.navbar {
  background-color: #C9DAE2; }

.row-content {
  padding: 50px 0;
  border-bottom: 1px ridge;
  min-height: 200px; }

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5); }

.carousel {
  border: solid #C9DAE2; }

#carouselButton {
  position: absolute;
  right: 0;
  bottom: 0; }

.card-img-top {
  height: 350px; }

.sub-header {
  padding-top: 20px; }

#reserveModal .modal-header {
  background-color: #87A0AC;
  color: white; }
